<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<form id="createItemForm" method="post" onsubmit="checkInputs();" th:action="@{/pm/createItem}"
      th:fragment="createForm">
    <table hidden id="createItemTable">
        <tr>
            <td>
                <label for="title">Title:</label>
                <input id="title" name="title" placeholder="Name of the item">
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-title')"
                     src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 0px;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="type">Type:</label>
                <select id="type" name="type" onchange="toggleInputs()">
        <span th:each="itemType : ${itemTypes}">
            <span th:if="${itemType.repositoryId != 0}">
                <option th:selected="${itemType.repositoryId == 3}" th:text="${itemType.name}"
                        th:value="${itemType}"></option>
            </span>
        </span>
                </select>
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-itemType')"
                     src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 0px;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Description:</label>
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-description')"
                     src="../../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 6px 0px;">
            </td>
        </tr>
        <tr>
            <td>
                    <textarea cols="50" id="description" maxlength="200" name="description"
                              placeholder="Short description about the item" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Acceptance Criteria:</label>
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-acceptanceCriteria')"
                     src="../../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 6px 0px;">
            </td>
        </tr>
        <tr>
            <td>
                    <textarea cols="50" id="acceptanceCriteria" maxlength="200"
                              name="acceptanceCriteria"
                              placeholder="Under what conditions, is this item considered done" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="fakeEpicParentId">Parent:</label>
                <select hidden id="fakeEpicParentId" name="fakeParentId">
                    <option selected value="0">No Parent</option>
                    <span th:each="item : ${backlog}">
            <span th:if="${item.type == 1 and (item.status != 4 and item.status != 3)}">
                <option th:text="${item.title}" th:value="${item.id}"></option>
            </span>
        </span>
                </select>
                <select id="fakeStoryParentId" name="fakeParentId">
                    <option selected value="0">No Parent</option>
                    <span th:each="item : ${backlog}">
                <span th:if="${item.type == 2 and (item.status != 4 and item.status != 3)}">
                    <option th:text="${item.title}" th:value="${item.id}"></option>
                </span>
        </span>
                </select>
                <input id="parentId" name="parentId" type="hidden" value="0">
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-parent')"
                     src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 1px;">
            </td>
        </tr>
        <tr>
            <td>
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
        <span th:each="itemPriority : ${itemPriorities}">
            <span th:if="${itemPriority.repositoryId != 0}">
                <option th:selected="${itemPriority.repositoryId == 3}" th:text="${itemPriority.name}"
                        th:value="${itemPriority}"></option>
            </span>
        </span>
                </select>
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-itemPriority')"
                     src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 1px;">
            </td>
        </tr>
        <tr>
            <td>
                <span id="taskBugEffort">
                    <label for="effort">Effort:</label>
                    <input id="effort" name="effort" placeholder="0 to 10" type="number">
                    <img class="hintSymbol" hidden onclick="openHintModal('createItem-effort')"
                         src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 1px;">
                </span>
                <span hidden id="epicStoryEffort">
                    <label for="estimatedEffort">Estimated Effort:</label>
                    <input id="estimatedEffort" name="estimatedEffort" placeholder="0 and above" type="number">
                    <img class="hintSymbol" hidden onclick="openHintModal('createItem-estimatedEffort')"
                         src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 1px;">
                </span>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="assigneeId">Assignee:</label>
                <select id="assigneeId" name="assigneeId">
                <span th:each="user : ${allUsers}">
                    <option th:selected="${user.id == session.userId}"
                            th:text="${user.firstName + ' ' + user.lastName + ', ' + user.email}"
                            th:value="${user.id}"></option>
                </span>
                </select>
                <input hidden id="projectId" name="projectId" th:value="${project.id}">
                <img class="hintSymbol" hidden onclick="openHintModal('createItem-assignee')"
                     src="../../images/hintSymbol.png" style="width: 30px;height: 30px;margin: 0 0 7px 5px;">
            </td>
        </tr>
        <tr>
            <td style="float: right;">
                <button type="submit">Create Item</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>