<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table th:fragment="createSprintTaskForm">
    <form id="modifyProjectForm" method="post" th:action="@{/user/createItemOnTheGo}">
        <tr>
            <td>
                <label for="title">Title:</label>
                <input id="title" maxlength="20" name="title" placeholder="Name of the item"
                       th:value="${createdItemOnTheGoTitle != null} ? ${createdItemOnTheGoTitle}">
            </td>
        </tr>
        <tr>
            <td class="warningMessage" th:if="${createdItemOnTheGoAlreadyExists}">
                Story with the same title already exists. To avoid confusion, please choose another title.
            </td>
            <td class="warningMessage" th:if="${createdItemOnTheGoHasEmptyTitle}">
                Story cannot have an empty title. Please input a title.
            </td>
        </tr>
        <tr>
            <td>
                <label for="type">Type:</label>
                <select id="type" name="type">
                        <span th:each="itemType : ${itemTypes}">
                            <span th:if="${itemType.repositoryId != 0 and itemType.repositoryId != 1 and itemType.repositoryId != 2}">
                                <option th:if="${createdItemOnTheGoType != null}"
                                        th:selected="${itemType.name == createdItemOnTheGoType}"
                                        th:text="${itemType.name}"
                                        th:value="${itemType}"></option>
                                <option th:selected="${itemType.repositoryId == 3}" th:text="${itemType.name}"
                                        th:unless="${createdItemOnTheGoType != null}"
                                        th:value="${itemType}"></option>
                            </span>
                        </span>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Description:</label>
            </td>
        </tr>
        <tr>
            <td>
                    <textarea cols="50" id="description" maxlength="200" name="description"
                              placeholder="Short description about the item"
                              rows="4" style="width: 99%"
                              th:text="${createdItemOnTheGoDescription != null} ? ${createdItemOnTheGoDescription}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="description">Acceptance Criteria:</label>
            </td>
        </tr>
        <tr>
            <td>
                    <textarea cols="50" id="acceptanceCriteria" maxlength="200" name="acceptanceCriteria"
                              placeholder="Under what conditions, is this item considered done"
                              rows="4" style="width: 99%"
                              th:text="${createdItemOnTheGoAcceptanceCriteria != null} ? ${createdItemOnTheGoAcceptanceCriteria}"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="parentId">Parent:</label>
                <span hidden id="createSprintTaskForSprint">
                        <select id="parentId" name="parentId">
                            <option selected value="0">No Parent</option>
                            <span th:each="itemSprintHistory : ${sprint.associatedItems}">
                                <span th:with="story =${itemSprintHistory.item}">
                                    <span th:if="${story.type == 2 and (story.status != 4 and (story.status == 2 or story.status == 3))}">
                                        <option th:text="${story.title}" th:value="${story.id}"></option>
                                    </span>
                                </span>
                            </span>
                        </select>
                    </span>
                <span hidden id="createSprintTaskForProject">
                        <select id="parentId" name="parentId">
                            <option selected value="0">No Parent</option>
                            <span th:each="parent : ${backlog}">
                                <span th:if="${parent.type == 2 and (parent.status != 4 and parent.status == 1)}">
                                    <option th:text="${parent.title}" th:value="${parent.id}"></option>
                                </span>
                            </span>
                    </select>
                    </span>

            </td>
        </tr>
        <tr>
            <td>
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                        <span th:each="itemPriority : ${itemPriorities}">
                            <span th:if="${itemPriority.repositoryId != 0}">
                                <option th:if="${createdItemOnTheGoPriority != null}"
                                        th:selected="${itemPriority.importance == createdItemOnTheGoPriority}"
                                        th:text="${itemPriority.name}"
                                        th:value="${itemPriority}"></option>
                                <option th:selected="${itemPriority.repositoryId == 3}" th:text="${itemPriority.name}"
                                        th:unless="${createdItemOnTheGoPriority != null}"
                                        th:value="${itemPriority}"></option>
                            </span>
                        </span>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                    <span id="taskBugEffort">
                        <label for="effort">Effort:</label>
                        <input id="effort" name="effort" placeholder="0 to 10"
                               th:value="${createdItemOnTheGoEffort != null} ? ${createdItemOnTheGoEffort}"
                               type="number">
                    </span>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <label for="assigneeId">Assignee:</label>
                <select id="assigneeId" name="assigneeId">
                    <option selected value="0">No assignee</option>
                    <span th:each="user : ${allUsers}">
                        <option th:if="${createdItemOnTheGoAssigneeId != null}"
                                th:selected="${user.id == createdItemOnTheGoAssigneeId}"
                                th:text="${user.firstName + ' ' + user.lastName + ', ' + user.email}"
                                th:value="${user.id}"></option>
                                <option th:selected="${user.id == session.userId}"
                                        th:text="${user.firstName + ' ' + user.lastName + ', ' + user.email}"
                                        th:unless="${createdItemOnTheGoAssigneeId != null}"
                                        th:value="${user.id}"></option>
                        </span>
                </select>
                <input hidden id="projectId" name="projectId" th:value="${project.id}">
                <input hidden id="sprintId" name="sprintId" th:value="${sprint.id}">
                <input hidden id="createSprintTaskParentStatus" name="parentStatus">
            </td>
        </tr>
        <tr>
            <td style="float: right;margin-right: 2px">
                <button type="submit">Create Task</button>
            </td>
        </tr>
    </form>
</table>
</body>
</html>