<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <span th:fragment="hints">

        <h4 id="hintTitle-mainPage" style="display: none">Hint Symbol</h4>
        <div id="hintBody-mainPage" style="display: none">
            <p><b>This is an example of how these hints will look like.</b><p>
            <p>You will be able to click on these symbols across the whole application, and a pop up like this will appear, in order to help you.<p>
            <p>This help may come in the form of tutorials, which explain some of the behaviour the user encounters in this application, or in the form of knowledge and descriptions, where a definition of a term found will be explained and tips and tricks will be given in order to use the Scrum framework effectively. In most cases, these hints will contain both, explained behaviour and definitions.<p>
            <p>The majority of the knowledge base included in these symbols, come from the following sources:<p>
            <p><a href="https://www.scrum.org/resources/what-is-scrum">Scrum.org</a></p>
            <p><a href="http://scrumtrainingseries.com">Scrum Training Series</a></p>
            <p><a href="https://www.atlassian.com/agile/manifesto">Atlassian</a></p>
        </div>

        <h4 id="hintTitle-existingProjects" style="display: none">Existing Projects</h4>
        <div id="hintBody-existingProjects" style="display: none">
            <p><b>All the projects that exist in this application can be found here.</b><p>
            <p>Agile enthusiasts would prefer to use the term <b>product</b> instead of the word project.</p>
            <p>A product is something (physical or not), that is created through a development process and that provides value to the customer. A product could be anything, ranging from a software application to a service.</p>
            <p>The key part is the fact that the customer and their continuous feedback is valued more than the final product itself and the bureaucracy that it is surrounded by.</p>
            <p>An example product, would be something like this:</p>
            <p>Title: <b>Bike Application</b></p>
            <p>Description: <b>The customer will be able to use this application in order to rent bikes from stations all over across the city. The application will be an online platform that tracks and manages all the bikes stored in the company’s stations.</b></p>
            <p>Total effort: <b>170</b></p>
            <p>Developers working: <b>8</b></p>
            <p>Estimated sprints needed: <b>12</b></p>
        </div>

        <h4 id="hintTitle-projectDescription" style="display: none">Description</h4>
        <div id="hintBody-projectDescription" style="display: none">
            <p><b>This is the description of the product.</p></b>
            <p>It is usually written by the product owner, and it describes the <b>vision</b> of what the team is going to do, make or accomplish.</p>
            <p>It should be short, and it should give a clear definition of the <b>value</b> it adds to the market.</p>

        </div>

        <h4 id="hintTitle-projectDevelopersWorking" style="display: none">Developers Working</h4>
        <div id="hintBody-projectDevelopersWorking" style="display: none">
            <p><b>This is the number of developers working in this product.</b></p>
            <p>The developers are considered a team, and they should have all the skills necessary to take the vision of the product owner and make it a reality. In a team, there are <b>no roles</b>, and everybody (if possible) is involved in all the phases of the development process.</p>
            <p>The number of recommended developers ranges from <b>3</b> to <b>9</b>. More than that and it gets complicated for team members to collaborate properly.</p>
            <p>If the number of developers is not stable (which is not recommended), you should leave it at <b>0</b>.</p>
            <p><b>Some notes</b>: The number of developers does not actually impact anything in this application. It was implemented for <b>educational purposes</b>.</p>
        </div>

        <h4 id="hintTitle-projectTotalEffort" style="display: none">Total Effort</h4>
        <div id="hintBody-projectTotalEffort" style="display: none">
                <p><b>This is the total effort of the project.</b></p>
                <p>The total effort is calculated by aggregating all the <b>effort</b> of the <b>tasks</b> and <b>bugs</b> that the project includes. The tasks/bugs can be in any state, either that is in the backlog or finished.</p>
                <p>The total effort is used in the calculation of the <b>product burndown chart</b>, where both the effort burned each iteration and the total effort of the project are shown.</p>

        </div>

        <h4 id="hintTitle-projectEstimatedTotalEffort" style="display: none">Estimated Total Effort</h4>
        <div id="hintBody-projectEstimatedTotalEffort" style="display: none">
                <p><b>This is the estimated total effort of the project.</b></p>
                <p>The <b>estimated total effort</b> of the project is the <b>aggregation</b> of all the <b>effort</b> estimated for each <b>epic</b> or <b>story</b> without a parent.
                <p>In Agile and especially Scrum, it is important to make <b>initial estimations</b> for each item in the backlog without defining the set of tasks and bugs that the items comprise of. This helps in roughly calculating the <b>number of sprints</b> that will be needed as well as in understanding the <b>amount of work</b> that each item requires. The estimated effort for an item may <b>continually change</b>, depending on team discussion and based on the results of the decomposition of the item into smaller ones. Moreover, customer needs can change which will also impact the effort that an item has, and re-estimation of the effort may be required.
                <p><b>Some notes:</b></p>
                <ul>
                    <li>
                        The user can only <b>estimate</b> the effort of <b>stories</b> and <b>epics</b>.
                    </li>
                    <li>
                        The <b>total effort</b> of each story and epic is the <b>aggregation</b> of the effort of all the tasks and bugs that the story or epic includes.
                    </li>
                    <li>
                        The user can specify the <b>effort</b> needed for each task and bug, but they <b>cannot</b> set the <b>estimated</b> one, as it is only reserved for the parents (epics/stories).
                    </li>
                </ul>
        </div>

        <h4 id="hintTitle-projectEstimatedSprintsNeeded" style="display: none">Estimated Sprints Needed</h4>
        <div id="hintBody-projectEstimatedSprintsNeeded" style="display: none">
                <p><b>The number of sprints required to finish the product are stated here.</b></p>
                <p>At the beginning, it is quite difficult to accurately predict the estimated sprints needed unless the team has worked in the past together. A number should nevertheless be calculated, as it helps in the <b>product burndown chart</b> where an ideal sprint effort burn is shown, along with the effort burn of the sprints that have already been executed.</p>
                <p>The ideal sprint effort burn which is the <b>velocity</b> of each iteration, helps the team with tracking progress and spotting any problems that should be solved before it is too late.</p>
                <p>This number always changes (automatically), depending on the <b>team velocity</b> of the <b>previous sprint</b>.</p>
                <p>If a prediction is not possible, then this shows <b>0</b> and the ideal sprint burn in the project progress page is not calculated.</p>
                <p><b>Some notes</b>:</p>
                <p>If the total effort is <b>0</b>, then the estimated sprints are based on the estimated total effort. If the estimated total effort is also <b>0</b>, then the value is set to <b>"Not Known Yet"</b>.</p>
                <p>The <b>formula</b> used to calculate the sprints needed is the following:</p>
                    <b>
                        <ul>
                            <li>
                            (Sprints Needed) = (Total Effort) / (Team Velocity)
                            </li>
                        </ul>
                    </b>
                <p>The team will burn a <b>certain amount</b> of effort (velocity) each iteration, until they burn <b>all</b> the effort included in the project. </p>
        </div>

        <h4 id="hintTitle-readySprint" style="display: none">Ready Sprint</h4>
        <div id="hintBody-readySprint" style="display: none">
                <p><b>This is the Ready Sprint.</b></p>
                <p>When this is shown, the sprint is in a <b>ready state</b>.</p>
                <p>During the ready state, <b>items</b> can be <b>added</b>, <b>updated</b> or <b>deleted</b> from the sprint backlog. An item can be added to the sprint backlog, by clicking on the <b>“Move to Sprint”</b> button, next to each item, in the product backlog. </p>
                <p>The user has the ability to either <b>move</b> a <b>set</b> of items at once (by moving epics/stories), or by moving tasks/bugs <b>individually</b>. When the sprint is initialized however, only <b>tasks</b> and <b>bugs</b> will be taken into account during the task board view.</p>
        </div>

        <h4 id="hintTitle-activeSprint" style="display: none">Active Sprint</h4>
        <div id="hintBody-activeSprint" style="display: none">
            <p><b>This is the Active Sprint.</b></p>
            <p>When this is shown, the sprint is in an <b>active state</b>.
            <p>During the active state, items <b>cannot be added</b> or <b>deleted</b> from the sprint. What is included inside the active sprint, stays in the active sprint, until the end of it.<p>
            <p>A timer is set, which is based on the duration configured for the sprint. When it expires, all the items that were included in the sprint, will have one of the following behaviours:<p>
            <ul>
            <li>If the item is <b>done</b>, then it will <b>disappear</b> from the sprint backlog, and it can only be accessed through the sprint history or the project progress.</li>
            <li>If the item is <b>not done</b>, then it will <b>stay</b> in the sprint backlog of the next ready sprint, with the status that it had, before the active sprint was finished.</li>
            </ul>
            <p>If the product owner decides to finish the sprint earlier for whatever reason, he can do so by <b>clicking</b> the <b>“Finish”</b> button.<p>

        </div>

        <h4 id="hintTitle-sprint-goal" style="display: none">Sprint Goal</h4>
        <div id="hintBody-sprint-goal" style="display: none">
                <p><b>This is the goal that the team is trying to achieve, by the end of the sprint.</b></p>
                <p>A sprint goal <b>shows</b> the desired <b>outcome</b> of an iteration and ensures that everyone is on the <b>same page</b>.</p>
                <p>This is usually done by the product owner, but the team may also contribute. After the goal is defined, it should be <b>accepted</b> by the stakeholders and especially the <b>customer</b>.</p>
                <p>An example goal, could be something like:</p>
                <ul>
                    <li>
                        <b>Develop the checkout process of the application.</b>
                    </li>
                    <li>
                        <b>Allow teachers to view and update grades.</b>
                    </li>
                </ul>
                <p>After the end of the sprint, the team checks on the goal, and <b>compares</b> it with the <b>reality</b>. Based on the results, they self-reflect and thrive for improvement.</p>

        </div>

        <h4 id="hintTitle-sprint-duration" style="display: none">Sprint Duration</h4>
        <div id="hintBody-sprint-duration" style="display: none">
                <p><b>This is the duration of the sprint.</b></p>
                <p>The <b>duration</b> of the sprint <b>tracks</b> how much the current iteration should last for. After the duration has <b>passed</b>, the sprint <b>expires</b> and it turns from an <b>active</b> state to a <b>ready</b> state, which also includes all the unfinished tasks of the previous sprint.</p>
                <p>The sprint <b>duration</b> should be the <b>same</b> for each sprint, as it helps the team forecast future sprint outcomes and in the calculation of a steady speed. If the duration is different for each iteration, then the velocity is not very accurate compared to the velocity of a project with iterations of the same length.</p>
                <p>The recommended sprint duration is <b>2 weeks</b>, but it can reach up to 30 days (<b>4 weeks</b>).</p>
                <p>The product owner is also able to finish the sprint earlier than the normal deadline.</p>
        </div>

        <h4 id="hintTitle-sprint-endDate" style="display: none">Sprint End Date</h4>
        <div id="hintBody-sprint-endDate" style="display: none">
                <p>The day which the sprint will move from <b>active</b> state to <b>ready</b> state.</p>
                <p>It will <b>automatically</b> do so, by the end of the day, which means at <b>23:59:59</b> of the final day of the sprint.</p>
        </div>

        <h4 id="hintTitle-sprint-velocity" style="display: none">Velocity</h4>
        <div id="hintBody-sprint-velocity" style="display: none">
                <p><b>The velocity of the sprint is the number of tasks/bugs finished by the end of the execution of a sprint.</b></p>
                <p>In this application, the team velocity is calculated by summing up the effort of all the tasks and bugs that were finished in the previous sprint.</p>
                <p>The sprint velocity helps calculate the <b>team’s speed</b>, which in return, helps in <b>forecasting</b> the future sprints and their results.</p>
                <p>It is the <b>key metric</b> in Scrum, as it works as an <b>indicator</b>, which shows whether the team is improving each sprint, or becomes worse. The more the velocity each sprint, the more the team is improving in working together and finishing user stories and requirements.</p>
                <p>Velocity is used both in the <b>product burndown chart</b>, and the <b>sprint burndown chart</b>. The former helps the product owner in figuring out how many sprints it will take the team to achieve a desired level of functionality that can be shipped, whereas the last helps the team in tracking their progress though out the active sprint and in detecting or solving any problems.</p>
                <p><b>Some notes</b>: An <b>initial</b> team velocity is requested to be set during the <b>creation</b> of a project, in order to calculate the initial number of estimated sprints needed for the project to finish. The initial velocity can be based on <b>previous sprints</b> of others projects or should be set to <b>0</b> if it is unknown and an initial prediction is not required. When the <b>latest</b> sprint finishes execution, its velocity will be calculated and will <b>automatically</b> be set for the velocity of the project.</p>
        </div>

            <h4 id="hintTitle-sprintBacklog" style="display: none">Sprint Backlog</h4>
        <div id="hintBody-sprintBacklog" style="display: none">
                <p><b>This is the sprint backlog.</b></p>
                <p>Here are the items that are <b>included</b> in the <b>sprint</b> and which the development team will work on.</p>
                <p><b>Only</b> the development team can <b>decide</b> upon the <b>items</b> they will work on, as they are the ones that better understand the difficulties behind each item, and only they can <b>assess</b> what can be <b>accomplished</b> during a sprint.</p>
                <p>The difference between the product backlog and the sprint backlog is the fact that the product backlog contains everything the team might ever work on, whereas the sprint backlog only contains the items that they will work during one sprint.</p>
                <p>Once a sprint has started, items cannot be added or removed from the sprint backlog. What was in the sprint backlog at the beginning, will stay in that until the end of the sprint. However, since not all are known at the beginning of the sprint, the ability to ‘refine’ the items included in the sprint has been left in. Should the effort be re-calibrated, then the user can do so by updating the item from the item page.</p>
                <p>Once the sprint has finished the items that are done <b>disappear</b> from the <b>sprint backlog</b> (can be accessed from sprint history or project progress), and the items that were left, remain at the state they had before the end of the sprint. In Scrum, there is no such thing as 80% done. Everything that was not done, is <b>added back</b> to the <b>sprint backlog</b> and only the <b>finished items contribute</b> to the sprint’s <b>velocity</b>.</p>
                <p>By the end of each sprint, the team is expected to have finished enough tasks, so that a <b>potentially shippable product</b> (or feature), has been created.

        </div>

        <h4 id="hintTitle-productBacklog" style="display: none">Product Backlog</h4>
        <div id="hintBody-productBacklog" style="display: none">
                <p><b>This is the product backlog.</b></p>
                <p>The product backlog is a list of items that the team may deliver in order to add value to a product and fulfil a specific need of the customer. These items include:</p>
            <b>
                <ul>
                    <li>
                        New features
                    </li>
                    <li>
                       Changes to existing features
                    </li>
                    <li>
                        Bug fixes
                    </li>
                    <li>
                        Infrastructure changes
                    </li>
                    <li>
                        Other activities such as knowledge acquisition
                    </li>
                </ul>
            </b>

                <p>Anyone can add to the backlog, but the essential items come from the product owner as well as the customer and they are <b>sorted</b> from the <b>most important item</b>, to the least important one.</p>
                <p>The product backlog is a <b>living document</b>. It always changes and evolves according to the feedback received from the customer. A healthy backlog would always grow instead of shrinking.</p>
                <p>One of the major activities that is done within the team in collaboration with the product owner, is something called <b>backlog refinement</b>.</p>
                <p>The backlog refinement helps the team in achieving clarity as well as understanding the scope and the vision. The backlog refinement includes the following topics:</p>
            <b>
                <ul>
                    <li>
                        Estimation of effort
                    </li>
                    <li>
                        Decomposition of large product backlog items (PBIs) into smaller ones
                    </li>
                    <li>
                        Clarification of requirements
                    </li>
                </ul>
            </b>
            <p>Before these topics are explained, the term <b>INVEST</b> concerning items should be understood first. It stands for:</p>
            <ul>
                <li>
                    <b>Independent</b>: The item dependency should be reduced from one to another. This allows the product owner to create PBIs that are prioritized by business value rather than technical efficiencies.
                </li>
                <li>
                    <b>Negotiable</b>: The customer, the product owner as well as the team must work together daily for the maximum potential value to be reached.
                </li>
                <li>
                    <b>Valuable</b>: A PBI should be developed around the customer needs, so that the business value is clear and existent.
                </li>
                <li>
                    <b>Estimable</b>: If the team is not able to clearly estimate a PBI, then it should be broken into smaller pieces where it is further understood.
                </li>
                <li>
                    <b>Small</b>An individual PBI should be very small, so that it is doable in the 1/4th of a sprint. Doable includes full testing, integration, refactoring etc.
                </li>
                <li>
                    <b>Testable</b>: Full coverage (including edge cases) should be clear and doable amongst the team for each PBI.
                </li>
            </ul>
                <p>The team together with the product owner sit together in a room and discuss the topics formerly stated above.</p>
                <p><b>Estimation of effort</b></p>
                <p>Each item is presented to the team. The team is asked to write down on a piece of paper the level of difficulty for each of the items. In this application, the easiest starts from 1 and ends to 10 which is the hardest. Afterwards, they are required to explain the reasoning behind the number they chose. This is called <b>Planning Poker</b> and helps in forming discussions between the team as well as revealing valuable information that was not clear before to the whole team.</p>
                <p><b>Decomposition of large product PBIs into smaller ones</b></p>
                <p>If something is not clear enough, then the PBI should be broken into a smaller one. This not only helps in clarifying things, but also controlling the amount of work the team will be able to do during a sprint. An <b>Epic</b>, which is the largest item, should be broken down into <b>User Stories</b> and user stories should be broken down into <b>Tasks/Bugs</b>, which will be added to the sprint.</p>
                <p><b>Clarification of Requirements</b></p>
                <p>The product owner should make the requirements of the customer clear and the vision he set for the product. This helps the team understand the product better as a whole and allows them to revolve around adding customer value instead of technical value.</p>
                <p><b>Some notes</b>: The product backlog should <b>NEVER</b> contain <b>stray user stories</b> or <b>tasks</b>. The proper structure a backlog should follow, is something like this: <b>Epics</b> broken into <b>User Stories</b> broken into <b>Tasks/Bugs</b>. However, the developer has left the ability to have stray stories and tasks in the backlog, but it is not recommended.</p>
               </div>

        <h4 id="hintTitle-createItem-title" style="display: none">Item Title</h4>
        <div id="hintBody-createItem-title" style="display: none">
            <p><b>This is the title of the item.</b></p>
            <p>It should be as <b>short</b> as possible, and as <b>clear</b> as possible, for the team to understand what it is about.</p>
            <p>A title usually describes in a few words either a <b>feature</b> that will be part of the product or technical aspects such as <b>bugs</b>.</p>
        </div>

        <h4 id="hintTitle-createItem-description" style="display: none">Item Description</h4>
        <div id="hintBody-createItem-description" style="display: none">
            <p><b>This is the description of the item.</b></p>
            <p>The description of the item should directly explain what this item is about. A common method used by Agile enthusiasts in order to describe an item, is the following:</p>
            <p><b>As a <role> I can <capability> so that <goal>.</b></p>
            <p>However, this is only an example, not a prescription and any method found appropriately during team discussion can be used.</p>
            <p><b>Some notes:</b></p>
            <ul>
                <li>
                    A <b>product backlog item</b> is more about the <b>what</b>, whereas a <b>Task</b> or a <b>Bug</b> is more about the <b>how</b>.
                </li>
                <li>
                    A well-formed description of a product backlog item represents a distinct business value, whereas a task represents a step from the team to create that value.
                </li>
            </ul>

        </div>

        <h4 id="hintTitle-createItem-acceptanceCriteria" style="display: none">Item Acceptance Criteria</h4>
        <div id="hintBody-createItem-acceptanceCriteria" style="display: none">
                <p><b>This is the acceptance criteria of an item.</b></p>
                <p>The acceptance criteria of an item are the specifications of when the <b>item</b> is considered <b>done</b>.</p>
                <p>Acceptance criteria can be the ability to work on a specific platform, or the level of satisfaction and feedback received by the customer.</p>
                <p>Usual examples of when an item is considered done include:</p>
            <b>
                <ul>
                    <li>
                        Properly tested
                    </li>
                    <li>
                        Refactored
                    </li>
                    <li>
                        Potentially Shippable
                    </li>
                </ul>
            </b>
                <p><b>Some notes</b>: These specifications mainly concern tasks and bugs during a sprint execution, but they can also be used in the definition of a product backlog item and outside sprints.</p>

        </div>

        <h4 id="hintTitle-createItem-itemType" style="display: none">Item Type</h4>
        <div id="hintBody-createItem-itemType" style="display: none">
                <p><b>This is the type of an item.</b></p>
                <p>An item can be an <b>Epic</b>, a <b>User Story</b>, a <b>Task</b> or a <b>Bug</b>.</p>
                <p><b>Epics</b> are large bodies of work that can be broken down into many small individual pieces (user stories). They help the team define a <b>structure</b> for the product, as they usually represent huge chunks and core features of the product. They are used to create a <b>hierarchy</b> and they usually require more than one sprint to reach a finished state. This is due to the fact that by the end of each sprint, customer feedback may add more items or new needs may be discovered.</p>
                <p><b>Stories</b> are in a way, software system requirements but from the <b>perspective</b> of the <b>customer</b>. They are formed using language that the end user understands, without any technical slangs and they provide context for the team to better understand the customer and realize the reasons behind what the team is building or the value these stories create. Stories are a few <b>sentences</b> in colloquial language that describe the <b>desired outcome</b> of a feature.</p>
                <p><b>Tasks/Bugs</b> are the smallest unit of work possible. They are created during the backlog refinement phase, where the team discusses in technical detail, how each story should be handled and solved. Tasks/Bugs are a set of technical descriptions that only concern the team and provide the ability to clearly see how each software requirement will be developed, tested, integrated etc. These are the only types of item that count in a sprint, and the calculation of the sprint velocity.</p>
        </div>

        <h4 id="hintTitle-createItem-parent" style="display: none">Item Parent</h4>
        <div id="hintBody-createItem-parent" style="display: none">
                <p>An <b>epic</b> can only contain <b>user stories</b>.</p>
                <p>A <b>user story</b> can only contain <b>tasks</b> or <b>bugs</b>.</p>
                <p>A <b>task</b> or a <b>bug</b> are the smallest item possible and <b>cannot contain</b> any other form of item.</p>
                <p>It is recommended that only epics are included in the backlog, which in return contain user stories that have their own tasks and bugs.</p>
                <p>However, the developer has left the ability to contain stray stories and tasks/bugs in the backlog, in case they want to be saved for editing later during the product development.</p>
        </div>

        <h4 id="hintTitle-createItem-itemPriority" style="display: none">Item Priority</h4>
        <div id="hintBody-createItem-itemPriority" style="display: none">
                <p><b>This is the priority of an item.</b></p>
                <p>It describes how <b>important</b> an <b>item</b> is. This mainly concerns the product backlog, as it is <b>sorted</b> from the most important item to the least important one. This clarifies to the team, which of the product backlog items, are the most <b>essential</b> to <b>complete</b> and the most important from the perspective of the <b>customer</b>. Finishing important items first, adds customer value to the product.</p>
                <p>For this application, the <b>MoSCoW Method</b> is the prioritization technique used to determine the <b>importance</b> of each item. The items are labeled with the level of importance based on the customer and their requirements.</p>
                <p>The <b>acronym</b> stands for:</p>
                <ul>
                    <li>
                        <p><b>M</b>ust have: items that should be finished and delivered to the customer as fast as possible. If by the end of the project, a "Must Have" item is not finished, the project has failed to be completed in time.</p>
                    </li>
                    <li>
                        <p><b>S</b>hould have: items that can be equally important with a "Must Have" item, but there is enough time to finish them at a later date or there may be other ways to satisfy the same requirement.</p>
                    </li>
                    <li>
                        <p><b>C</b>ould have: items that are desirable by the customer but are not essential features of the product developed. These are usually included if enough resources (time, development cost etc.) can be spared.</p>
                    </li>
                    <li>
                        <p><b>W</b>on't have: items that are of least importance during the development of the product. The customer has concluded that these items are not needed or they need further reconsideration as they may not be appropriate at that time.</p>
                    </li>
                </ul>
                <p><b>Some notes</b>: Priority can be given to any of the items created, whether they are epics or tasks, as they help the team prioritize in any case, but only the product backlog items are sorted and not their children.</p>
        </div>

        <h4 id="hintTitle-createItem-effort" style="display: none">Item Effort</h4>
        <div id="hintBody-createItem-effort" style="display: none">
                <p><b>This is the effort of an item.</b></p>
                <p>The effort is how <b>difficult</b> an <b>item</b> is, according to the team. It is a way of expressing how much <b>time</b>, the rate of <b>difficulty</b>, the <b>technical expertise</b> etc. required to implement a product backlog item or any other piece of work.</p>
                <p>It is <b>calculated</b> amongst the <b>team</b>, during the discussion with the product owner and the <b>backlog refinement phase</b>. It is done during the <b>planning poker</b> part, where each team member writes down on a piece of paper, their personal estimate of how difficult they believe the item is. After revealing the cards and discussing with the other team members, the team agrees to an <b>average</b> effort required by the item.</p>
                <p>What matters is not how much the number representing the item is, but the <b>ratio</b> in comparison with the other items. If for example an item has an effort of 1, and another item has an effort of 3, it means that the latter requires triple the amount of work of the first.</p>
                <p>Agile enthusiasts may not use the effort system, but one of their own. It depends on the team and their ability to understand and <b>represent effort</b> in their own way. For example, a team may use as a metric, the number of cookies that are consumed during the development and implementation of an item.</p>
                <p>In this application, the effort is estimated using the <b>decimal system</b>. <b>1</b> is for the <b>lowest</b> effort, whereas <b>10</b> is for the <b>highest</b> effort. Any more or less than that is not possible, and the system will reset it to one of the edge numbers.</p>
                <p><b>Some notes:</b></p>
                <p>Epics and stories have a <b>different</b> meaning of effort compared to tasks and bugs. The epics and stories have an <b>"Estimated Effort"</b> which is estimated in case tasks have not yet been created for each epic and its children stories. One of the reasons this happens, is because the development team needs to realise the <b>amount of work</b> they <b>believe</b> an epic or a story will need in order to be finished. On the other hand, tasks and bugs have a clearer definition of <b>"Effort"</b>, where a more pragmatic estimation is done as the product backlog item has now been broken down into the <b>lowest level possible</b>. Epics and stories also have a second attribute, which is the <b>"Total Effort"</b> of all the tasks and bugs that are included within them.</p>
        </div>

        <h4 id="hintTitle-createItem-assignee" style="display: none">Item Assignee</h4>
        <div id="hintBody-createItem-assignee" style="display: none">
                <p><b>This is the assignee of the item.</b></p>
                <p>The product owner has the ability to <b>assign</b> someone who will be responsible for the <b>completion</b> of the <b>item</b>.</p>
                <p>If it is a task, he or she will be able to move it in the task board, and whenever they are done, they will be able to assign it to somebody else.</p>
                <p>In Agile, and especially Scrum, practices such as <b>pair programming</b> and daily <b>collaboration</b> and <b>discussion</b> are encouraged, and the team should always work together towards the completion of an item.</p>
                <p><b>Some notes</b>: The product owner can modify an item (including deletion), whereas assignees can only move tasks in the task board or assign new team members to work on the item.</p>
        </div>

        <h4 id="hintTitle-sprintTaskBoard" style="display: none">Sprint Task Board</h4>
        <div id="hintBody-sprintTaskBoard" style="display: none">
                <p><b>This is the task board of the sprint.</b></p>
                <p>Through the task board, the <b>sprint backlog</b> is made available for all the <b>team members</b> to <b>see</b> and act upon.</p>
                <p>There are 4 columns where the team members constantly move tasks and bugs by <b>updating</b> their <b>status</b>.</p>
                <p>The task board helps the team <b>keep track</b> of all the tasks that have <b>not yet started</b>, are <b>close to completion</b> or <b>have been finished</b>.</p>
                <p>A task board may also include <b>notes</b>, but this application does not support this functionality.</p>
                </div>

        <h4 id="hintTitle-toDo" style="display: none">To Do</h4>
        <div id="hintBody-toDo" style="display: none">
                <p><b>This is the “To Do” list.</b></p>
                <p>In the “To Do” list, all the items that have been <b>added</b> to the sprint backlog prior the sprint execution, will be contained.</p>
                <p>These are the items that the development team will have to work on during the sprint execution.</p>
                <p>They have <b>not</b> yet <b>tarted</b>, and each team member is assigned to a number of these. When he or she is ready to start working on them, they will have to move it to the “In Progress” list.</p>
        </div>

        <h4 id="hintTitle-inProgress" style="display: none">In Progress</h4>
        <div id="hintBody-inProgress" style="display: none">
                <p><b>This is the “In Progress” list.</b></p>
                <p>In the “In Progress” list, all the items that the development team is <b>currently working</b> on, are contained.</p>
                <p>They usually come here from the “To Do” list, but they can also be returned back from the “For Review” list.</p>
                <p>It is possible that the <b>assignee</b> might <b>change</b> during this phase of the task.</p>

        </div>

        <h4 id="hintTitle-forReview" style="display: none">For Review</h4>
        <div id="hintBody-forReview" style="display: none">
                <p><b>This is the “For Review” list.</b></p>
                <p>In the “For Review” list, all the items that have finished being developed and require further actions such as <b>testing</b>, are included here.</p>
                <p>The developer will usually assign the task to somebody who will test the code, or to somebody who will review it.</p>
                <p>In case the item <b>fails</b> to pass the tests or is not finished for whatever reason, it will <b>return</b> to the “To Do” list or to the “In Progress” list, depending on the team and what they have agreed upon such a case. Some teams may also have secondary tasks that concern the testing of a task. Depending on the outcome of the secondary tasks, the original task will be either moved back, or completed.</p>

        </div>

        <h4 id="hintTitle-done" style="display: none">Done</h4>
        <div id="hintBody-done" style="display: none">
                <p><b>This is the “Done” list.</b></p>
                <p>In the “Done” list, all the items that the development team has <b>finished</b> working on, are contained.</p>
                <p>In order for an item to qualify as “Done”, they will need to have passed the acceptance criteria the team has set for each item individually or collectively. Example criteria may include:</p>
                 <b>
                     <ul>
                         <li>
                             Testing
                         </li>
                         <li>
                             Refactoring
                         </li>
                         <li>
                             Ability to ship
                         </li>
                     </ul>
                 </b>
                <p>The <b>velocity</b> of the sprint is calculated by <b>summing</b> up all the <b>effort</b> of the <b>finished tasks</b> and <b>bugs</b>.</p>
                <p><b>Some notes</b>: If a task is near completion (but has not been completed yet), it should not be moved to the “To Do” list. It should remain at its current state and added for completion in the next sprint. Avoiding deception is more important than velocity and numbers, as the former helps the team in having a clear view of the product.</p>

        </div>

            <h4 id="hintTitle-burndownChart" style="display: none">Burndown Chart</h4>
        <div id="hintBody-burndownChart" style="display: none">
                <p><b>This is the Burndown Chart.</b></p>
                <p>The <b>burndown chart</b> is a <b>graphical representation</b> of the amount of <b>work</b> left to do in comparison with the <b>duration</b> of the sprint.</p>
                <p>It is being used by the development team in order to <b>track</b> their <b>progress</b> and evaluate the outcome of the sprint. Some examples of how it helps the team include:</p>
                <b>
                    <ul>
                        <li>
                          If work finishes early, it might mean that not serious commitment is done by the team.
                        </li>
                        <li>
                            If the amount of work is above the ideal line, it might mean that a task includes way too more work than expected.
                        </li>
                        <li>
                            If the amount of work is represented by a sharp drop, it might mean that the effort for the items completed might not have been estimated accurately.
                        </li>
                    </ul>
                </b>
                <p>In this application, the <b>vertical axis</b> describes the <b>effort</b> and the <b>horizontal axis</b> shows the <b>days</b> until the competition of the sprint.</p>
                <p>The burndown chart starts from the <b>total effort</b>, and every day, the amount of effort burned by the team is calculated.</p>
                <p><b>Ideally</b> there will be a <b>steep downward slope</b> which leads to <b>0</b> effort remaining. When it reaches <b>0</b>, it means that all the <b>items</b> contained into that sprint have been <b>completed</b> and the sprint should be finished.</p>
                <p>The <b>ideal remaining</b> is calculated by the following formula:</p>
                <ul>
                    <li>
                        <b>(Total Sprint Effort) / (Duration of Sprint)</b>
                    </li>
                </ul>
        </div>

        <h4 id="hintTitle-sprintHistory-sprintHistory" style="display: none">Sprint History of Tasks Done</h4>
        <div id="hintBody-sprintHistory-sprintHistory" style="display: none">
                <p><b>This is the Sprint History of Tasks Done.</b></p>
                <p>This table shows the <b>items</b> that have been finished in a particular <b>date</b>.</p>
                <p>This helps the team track when an item was finished.</p>
                <p>If the user <b>clicks</b> on the <b>item</b>, he will be able to view the <b>details</b> of it.</p>

        </div>


        <h4 id="hintTitle-productBurndown" style="display: none">Product Burndown Chart</h4>
        <div id="hintBody-productBurndown" style="display: none">
                <p><b>This is the Product Burndown Chart.</b></p>
                <p>The <b>product burndown chart</b> is a <b>graphical representation</b> of the amount of <b>work</b> left to do in comparison with the <b>number</b> of <b>sprints</b> forecasted by the product owner or the team.</p>
                <p>Depending on the number of previous sprints and the velocity of each sprint, the <b>forecast</b> will constantly <b>change</b> and become more and more accurate.</p>
                <p>Studying this chart, helps the product owner in <b>re-adjusting deadlines</b> or <b>changing</b> the <b>priority</b> of <b>product backlog items</b> and <b>user stories</b>.</p>
                <p>In this application, the vertical axis describes the <b>total effort</b> of the <b>product</b> burned each sprint, and the horizontal axis shows the <b>number</b> of <b>sprints</b> that have been executed. It also includes the current sprint, if there is one currently executing.</p>
                <p><b>Ideally</b>, there will be a <b>steep downward slope</b> which leads to <b>0</b> effort remaining. When it reaches <b>0</b>, it means that all the items in the product backlog have been finished, and the <b>product</b> has been <b>completed</b>.</p>
                <p>The <b>ideal remaining</b> is calculated by the following formula:</p>
                <ul>
                    <li>
                        <b>(Project Total Effort) / (Estimated Sprints Needed)</b>
                    </li>
                </ul>
                <p><b>Some notes</b>: Some teams may completely <b>ignore</b> the <b>idea</b> of a product burndown chart. This chart is <b>not necessary</b>, but the developer has opted to leave it in the application, for <b>educational purposes</b>.</p>
        </div>

        <h4 id="hintTitle-projectProgress-sprintHistory" style="display: none">Sprint History</h4>
        <div id="hintBody-projectProgress-sprintHistory" style="display: none">
                <p><b>This is the Sprint History.</b></p>
                <p>The sprint history shows all the <b>previous sprints</b> that have been executed and all the <b>items</b> that were <b>included</b> in a particular sprint, along with the <b>status</b> they had, when the sprint <b>deadline</b> was reached.</p>
                <p>This table helps the product owner and the development team <b>track</b> all the <b>tasks</b> that have been part of a sprint.</p>
                <p>This table is the <b>only way</b> to access and <b>view tasks</b>, after they have been <b>finished</b>.</p>
                <p>If the user <b>clicks</b> on the <b>item</b>, he will be able to view the <b>details</b> of it.</p>
                <p>If the user <b>clicks</b> on the <b>sprint row</b>, he will be <b>redirected</b> to the <b>task board page</b> of that sprint, where they can see in detail the burndown chart and the date a particular item was finished.</p>
        </div>

        <h4 id="hintTitle-roles" style="display: none">Scrum Roles</h4>
        <div id="hintBody-roles" style="display: none">
                <p><b>These are the roles of Scrum.</b></p>
                <p>In Agile and especially in Scrum, the sense of <b>hierarchy</b> is very limited and almost <b>non-existent</b>. People work in a team and the work done, is represented by the <b>team as a whole</b>. The Scrum team is <b>self-organizing</b> and does not depend on third parties or is directed by others.</p>
                <p>Each role in Scrum, represents a set of <b>characteristics</b> and <b>responsibilities</b>. These responsibilities do not affect each other and do not disrupt the responsibilities of other roles. Any individuals or entities that are not part of the following Scrum roles but affect the execution of a Scrum project, are considered a major disruption and should be dealt with immediately:</p>
                <h4><b>The Product Owner</b></h4>
                <p>The product owner is the <b>voice</b> of the <b>customers</b>, as he is the one that communicates with them. He is responsible for understanding the customer needs and passing them to the rest of the Scrum team.</p>
                <p>Some of his most important responsibilities include:</p>
                <ul>
                    <li>
                        <b>Creating</b> the <b>Product Backlog</b>.
                    </li>
                    <li>
                        <b>Prioritizing</b> the <b>Product Backlog</b> to best express the most important customer needs.
                    </li>
                    <li>
                        Making sure the Scrum team <b>understands</b> all the <b>items</b> in the Product Backlog to the level that is needed.
                    </li>
                </ul>
                <p>The product owner can only be an <b>individual</b>, but he can represent the voice of many.  If someone wants to re-prioritize an item, then they should address the product owner.</p>
                <p>The product owner’s decisions should be respected for the normal execution of the project.</p>
                <h4><b>The Development Team</b></h4>
                <p>The development team is the set of <b>developers</b> or <b>experts</b> that are responsible for delivering a potentially shippable product by the end of each sprint.</p>
                <p>The development team is also responsible for the <b>creation</b> of the <b>Sprint Backlog</b>. They are the ones that organize and manage what they will be working on each sprint.</p>
                <p>Some of their characteristics include:</p>
                <ul>
                    <li>
                        They are <b>self-managing</b> and only they should know how to organize the work each increment in order to ship a product feature.
                    </li>
                    <li>
                       They are <b>independent</b>. The team is supposed to have the needed set of skills in order to successfully ship the product.
                    </li>
                    <li>
                       They have <b>no titles</b>. It is in the culture of Scrum for development teams to not have any titles regarding their expertise.
                    </li>
                    <li>
                        There are <b>no sub-teams</b>. Each team member is supposed to have the knowledge in all the phases of development, including testing, operations etc.
                    </li>
                    <li>
                        <b>Accountability</b> is represented by the <b>team as a whole</b>. The team is responsible for shipping a feature successfully, not the individuals that are included in the team.
                    </li>
                </ul>
                <p>The development team is supposed to be between <b>3</b> and <b>9</b> members. Above 3 so that they manage to deliver enough work each sprint, and below 9 so that coordination and self-organization remains effective. The rest of the roles are not included in these numbers unless a team member has more than one role.</p>
                <h4><b>The Scrum Master</b></h4>
                <p>The Scrum master is the one that <b>promotes</b> the culture of <b>Scrum</b> and <b>supports</b> the <b>theory</b> behind it. He is responsible for making sure that the Scrum framework is followed by the Scrum team as it is supposed to be, and he is the one that helps everyone understand the practices, rules etc. of Scrum.</p>
                <p>The Scrum Master is a <b>servant-leader</b> that services the product owner, the development team as well as the organization.</p>
                <p>He serves the product owner with the following ways:</p>
                <ul>
                    <li>
                        <b>Helping</b> in efficiently <b>organizing</b> the product backlog.
                    </li>
                    <li>
                        <b>Helping</b> the Scrum team in <b>understanding</b> the goals, scope and product domain.
                    </li>
                    <li>
                        Making sure <b>agility</b> is <b>understood</b> and <b>practiced</b>.
                    </li>
                </ul>
                <p>He serves the development team with the following ways:</p>
                <ul>
                    <li>
                        <b>Teaching</b> the development team the <b>value</b> of self-organization and self-management.
                    </li>
                    <li>
                        <b>Helping</b> the development team in <b>creating</b> high-value products by ensuring criteria such as <b>INVEST</b> are followed.
                    </li>
                    <li>
                        <b>Removing</b> any <b>impediments</b> or anything that obstructs the development team from working efficiently.
                    </li>
                </ul>

                <p>He serves the organization with the following ways:</p>
                <ul>
                    <li>
                       Making sure <b>Scrum</b> is <b>followed</b> where it can be applied.
                    </li>
                    <li>
                       <b>Helping</b> employees and stakeholders <b>understand</b> the values of Scrum and how important they are for the proper functioning of the Scrum team.
                    </li>
                    <li>
                       <b>Causing change</b> that increases the results delivered by the Scrum team.
                    </li>
                </ul>
                <p>In this application, these are the functions of each role:</p>
                <b><p>Product Owner:</p>
                <ul>
                    <li>
                      Create/Delete a project.
                    </li>
                    <li>
                       Create/Delete an item.
                    </li>
                    <li>
                       Edit Epics and Stories.
                    </li>
                </ul>
                <p>Development Team:</p>
                     <ul>
                         <li>
                             Create/Delete Tasks and Bugs.
                         </li>
                         <li>
                             Edit Tasks and Bugs.
                         </li>
                        <li>
                            Move item in the task board</b> (if item is assigned to self).<b>
                        </li>
            <li>
                            Change assignee of item</b> (if item is assigned to self).<b>
                        </li>
            </ul>
            <p>Scrum Master:</p>
                <ul>
                    <li>
                       Start/Finish sprint.
                    </li>
                    <li>
                       Move item to sprint.
                    </li>
                    <li>
                       Remove item from sprint.
                    </li>
                    <li>
                        Change assignee of item.
                    </li>
                    <li>
                        Everything that the other roles can do.
                    </li>
                </ul></b>
                <p><b>Some notes</b>: If the team does not wish to have separated functionalities but would like to have all functionalities in one role, then they should choose the <b>admin</b> role for each user.</p>
        </div>

        <h4 id="hintTitle-sprintAddTask" style="display: none">Add new Task</h4>
        <div id="hintBody-sprintAddTask" style="display: none">
                    <p><b>This is the add new task functionality.</b></p>
                    <p>The stories and tasks that are included into the active sprint backlog are the <b>result</b> of the discussions that took place during the <b>backlog refinement</b> and the <b>sprint planning</b> meetings.</p>
                    <p>In the <b>former</b>, one of its key characteristics is the fact that the Scrum team <b>‘refines’</b> the items that are included in the product backlog. This means that the development team, in discussion with the product owner <b>break</b> the epics into stories and the stories into tasks and bugs.</p>
                    <p>In the <b>latter</b>, which is the sprint planning, the development team talks about the items that they will work on during the execution of this sprint. This happens at the beginning of the sprint and some of the key points made, include:</p>
                    <ul>
                        <li>
                           What is the <b>goal</b> of the sprint?
                        </li>
                        <li>
                            What are the items included in the product backlog that <b>fulfill</b> this goal?
                        </li>
                        <li>
                            <b>Who</b> will be able to work on this sprint and what is the <b>team capacity</b> based on <b>availability</b>?
                        </li>
                        <li>
                            What are the <b>items</b> that will be <b>included</b> based on the capacity?
                        </li>
                        <li>
                            How sure is the team they are going to <b>reach</b> the sprint goal?
                        </li>
                    </ul>
                    <p>Lastly, if needed, the team will <b>continue breaking down</b> the stories into more tasks. However, during the decomposition of the items into smaller ones, it is important for the team to keep the planning <b>limited</b>. Usually, discovering <b>60%-80%</b> of the tasks that the team will work on during the execution of the sprint, is enough to get going. It is <b>exhausting</b> for the team to find all the tasks that will need to be worked on, and it is <b>unavoidable</b> to have unexpected tasks and bugs that will be revealed only during the execution of the sprint.</p>
                    <p>Therefore, the developer team is given the opportunity to <b>add</b> tasks or bugs during the <b>execution</b> of the sprint. These items will consist either of the <b>unexpected work</b> that the team will have to do in order to complete the goal or will be the result of the <b>re-estimation</b> of some of the stories the developers will do during the sprint.</p>
                    <p><b>Some notes</b>: Once a task is created, it is important for the user to make sure that the task will <b>not be changed</b>. The ability to edit items is only given to the product owner and is only intended during the backlog refinement meeting. If the user wishes to edit any of the tasks, to re-estimate for example, then a user with the <b>product owner</b> or <b>admin</b> role will be able to do so.</p>

        </div>

        <h4 id="hintTitle-sprintAddTaskNotAvailable" style="display: none">Add New Task Unavailable</h4>
        <div id="hintBody-sprintAddTaskNotAvailable" style="display: none">
            <p><b>Addind a new task is unavailable at the moment.</b></p>
            <p>This functionality is only available to the developers <b>during</b> the <b>sprint execution</b>.</p>
            <p>For more information, please read the <b>hint</b> that is located to the left of this button (if hints are turned ON).</p>
        </div>

        <h4 id="hintTitle-viewItem-comment" style="display: none">Commect Section</h4>
        <div id="hintBody-viewItem-comment" style="display: none">
                <p><b>This is the comment section.</b><p>
                <p>The comment section is used in order to <b>share information</b> between the team and as a way for the current assignee to leave <b>documentation</b> for the next assignee.<p>
                <p>An assignee will usually post a comment after they are done working on the task in order to help the next assignee by either writing short sentences such as <b>descriptions</b> of the work done, <b>problems</b> they might have encountered and need help with or simply <b>reminders</b> for the team to see.<p>
                <p>In Agile and especially Scrum, <b>collaboration</b> between the team members is encouraged and a comment section contributes to that vision.<p>
        </div>

        <h4 id="hintTitle-" style="display: none"></h4>
        <div id="hintBody-" style="display: none">

        </div>

    </span>
</body>
</html>