.textHeader {
    font-size: 26px;
    font-weight: bold;
    margin: auto;
}

#createElementPlusSymbol {
    height: 30px;
    width: 30px;
}

#createElementPlusSymbol:hover {
    opacity: 0.3;
}

#createElementButtonSet input {
    margin: 7px 10px 0px 5px;
    position: absolute;
}

.informationText {
    font-size: 16px;
    font-weight: bold;
}

#uniqueItemModifyProductOwnerButton {
    float: right;
}

#uniqueItemModifyDeveloperButton {
    float: right;
}

#uniqueItemUpdateButton {
    float: right;
}

#uniqueItemDeleteButton {
    float: right;
}

.hintSymbol {
    filter: grayscale(100%);
}

.hintSymbol:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

.warningMessage {
    color: red;
}

.successMessage {
    font-weight: bold;
    color: green;
}

/*notification message */
.notifierBox {
    padding: 10px;
    color: white;
    background-color: forestgreen;
    font-weight: bold;
    top: 0vh;
    /* keep the element centered */
    left: 50%;
    transform: translateX(-50%);
    transition: all 100ms linear;
    position: fixed;
    display: none;
    border-radius: 5px;
    z-index: 2000;
}

.notifier {
    float: left;
}

/* The close button */
.closebtn {
    margin-left: 10px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 21px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}