.textHeader {
    font-size: 26px;
    font-weight: bold;
    margin: auto;
}

#createElementPlusSymbol {
    height: 30px;
    width: 30px;
}

#createElementPlusSymbol:hover {
    opacity: 0.3;
}

#createElementButtonSet input {
    margin: 7px 10px 0px 5px;
    position: absolute;
}

.informationText {
    font-size: 16px;
    font-weight: bold;
}

#uniqueItemModifyButton {
    position: absolute;
    right: 5%;
}

#uniqueItemChangeAssigneeButton {
    position: absolute;
    right: 5%;
}

.uniqueItemUpdateAndDeleteButtons {
    float: right;
}

.hintSymbol {
    filter: grayscale(100%);
}

.hintSymbol:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

