.projectRow:nth-child(even) {
    background-color: #f2f2f2;
}

.projectRow:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.projectRow {
    text-align: left;
}

.spanDescription {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}