.itemTable {
    width: 100%;
}

table.itemTable td {
    width: 6%;
    padding: 10px;
    text-align: left;
}

table.itemTable tr:hover {
    background-color: #d4d4d4;
    cursor: pointer;
}

.task {
    background-color: white;
    border-style: solid;
    display: block;
    border-color: lightblue;
}

.bug {
    background-color: white;
    border-style: solid;
    display: block;
    border-color: #c5090c;
}

.story {
    background-color: white;
    border-style: solid;
    display: block;
    border-color: green;
}

.epic {
    background-color: white;
    border-style: solid;
    display: block;
    border-color: purple;
}


