.itemTable {
    width: 100%;
}

.activeSprintsLines {
    text-decoration: underline overline;
    text-decoration-color: green;
}

.readySprintLines {
    text-decoration: underline overline;
    text-decoration-color: #a9a900;
}

.backlog {
    border-style: solid;
    display: block;
    background-color: #f8f9fa;
}

table.itemTable td {
    width: 6%;
    padding: 10px;
    text-align: left;
}

table.itemTable tr:hover {
    background-color: #bbbbbb;
    cursor: pointer;
}

.item {
    background-color: white;
    border-style: solid;
    display: block;
}

.task {
    border-color: lightblue;
}

.bug {
    border-color: #c5090c;
}

.story {
    border-color: green;
}

.epic {
    border-color: purple;
}


