.projectRow:nth-child(even) {
    background-color: #f2f2f2;
}

.projectRow:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.projectsTable th {
    text-align: center;
}

.projectRow td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    text-align: center;
}

.spanDescription {
    display: block;
    width: 180px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}