<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form method="post" th:action="@{/login}">
    <label for="email">Email</label>
    <input id="email" name="email" th:value="${session.userEmail}"
           type="email"/>
    <label for="password">Password</label>
    <input id="password" name="password" th:value="${password}"
           type="password">
    <button type="submit">Log In</button>
    <button th:onclick="'window.location.href=\'' + @{/} + '\''"
            type="button">Home
    </button>
    <div class="errMsg" th:if="${param.error}">Invalid email or password</div>
    <div class="errMsg" th:if="${param.logout}">You have been logged out</div>
</form>
</body>
</html>