<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
<ul th:each="user : ${users}">
    <li th:text="${user.id}"></li>
    <li th:text="${user.email}"></li>
</ul>
<form method="post" th:action="@{/admin/createUser}">
    <label for="email">Email</label>
    <input id="email" name="email" th:value="${email}" type="email">
    <label for="password">Password</label>
    <input id="password" name="password" th:value="${password}" type="password">
    <button type="submit">Submit</button>
</form>
</body>
</html>