<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <meta charset="UTF-8">
    <title>Project Progress</title>
    <style>
        #burndown {
            width: 100%;
            min-width: 310px;
            height: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    const categories = [[${burnDownChartData.categories}]];
    const ideal_burn = [[${burnDownChartData.ideal_burn}]];
    const actual_burn = [[${burnDownChartData.actual_burn}]];
    $(function () {
        $('#burndown').highcharts({
            title: {
                text: 'Product Burndown',
                x: -20 //center
            },
            colors: ['blue', 'red'],
            plotOptions: {
                line: {
                    lineWidth: 3
                },
                tooltip: {
                    hideDelay: 200
                }
            },
            subtitle: {
                text: 'All Sprints',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Effort'
                },
                plotLines: [{
                    value: 0,
                    width: 1
                }]
            },
            tooltip: {
                valueSuffix: ' effort',
                crosshairs: true,
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Ideal Remaining',
                color: 'rgba(255,0,22,0.25)',
                lineWidth: 1,
                data: ideal_burn
            }, {
                name: 'Actual Remaining',
                color: 'rgba(133,200,98,0.75)',
                marker: {
                    radius: 6
                },
                data: actual_burn
            }]
        });
    });
</script>
<button th:onclick="'window.location.href=\'' + @{/} + '\''"
        type="button">Home
</button>
<button
        th:onclick="'window.location.href=\'' + @{'/user/project/' + ${projectId}} + '\''"
        type="button">Project
</button>
<div id="burndown"></div>
<br>

<br>
<h2>Sprint History</h2>
<span th:if="${finishedSprints}">
    <span th:each="sprint : ${finishedSprints}">
<!--        <attributeName>Stat is something that thymeleaf offers, amongst those, we can use size and count-->
        <span th:text="${'Sprint ' + ((sprintStat.size + 1) - sprintStat.count) + ': ' + sprint.start_date + ', Velocity: ' + sprint.velocity}"></span>
        <button name="action"
                th:onclick="'window.location.href=\'' + @{'/user/project/' + ${sprint.project.id} + '/sprint/' + ${sprint.id}} + '\''"
                type="button" value="view">View Board
        </button>
        <br>
            <div th:each="association: ${sprint.associatedItems}">
                <ul>
                    <span th:if="${association.item.type == 3 or association.item.type == 4}">
                        <span th:text="${association.item.title + ': ' + association.status}"></span>
                        <button
                                th:onclick="'window.location.href=\'' + @{'/user/project/' + ${association.sprint.project.id} + '/item/' + ${association.item.id}} + '\''"
                                type="button" value="view">View
                        </button>
                    </span>
                </ul>
        </div>
    </span>
</span>
</body>
</html>