<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Panel</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/data-tooltip.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/projectPanel.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<button th:onclick="'window.location.href=\'' + @{/} + '\''"
        type="button">Home
</button>
<button onclick="window.location.href='/logout'" style="float: right"
        type="button">Log Out
</button>
<br>
<span class="textHeader">Existing Projects</span>
<img class="hintSymbol" hidden onclick="openHintModal('existingProjects')" src="../images/hintSymbol.png"
     style="width: 30px;height: 30px;margin: 0 0 7px 5px;">
<table style="width: 100%">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
            <img class="hintSymbol" hidden onclick="openHintModal('projectDescription')" src="../images/hintSymbol.png"
                 style="width: 25px;height: 25px;">
        </th>
        <th>
            Total Effort
        </th>
        <th>
            Developers Working
            <img class="hintSymbol" hidden onclick="openHintModal('projectDevelopersWorking')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;">
        </th>
        <th>
            Estimated Sprints Needed
            <img class="hintSymbol" hidden onclick="openHintModal('projectEstimatedSprintsNeeded')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;">
        </th>
    </tr>

    <div th:each="project : ${projects}">
        <tr class="projectRow">
            <form>
                <input hidden name="projectId" readonly th:id="|projectId${projectStat.count}|"
                       th:value="${project.id}">
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.title}"></span>
                    <input hidden name="projectTitle" th:id="|projectTitle${projectStat.count}|"
                           th:value="${project.title}">
                </td>
                <td data-tooltip-position="bottom" th:data-tooltip="${project.description}"
                    th:onclick="|window.location='project/${project.id}'|">
                    <span class="spanDescription" th:text="${project.description}"></span>
                    <input hidden name="projectDescription" th:id="|projectDescription${projectStat.count}|"
                           th:value="${project.description}">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.total_effort}"></span>
                    <input hidden id="projectTotalEffort" name="projectTotalEffort" readonly
                           th:value="${project.total_effort}">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.developers_working}"></span>
                    <input hidden name="projectDevelopersWorking"
                           th:id="|projectDevelopersWorking${projectStat.count}|"
                           th:value="${project.developers_working}" type="number">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.estimated_sprints_needed}"></span>
                    <input hidden name="projectEstimatedSprintsNeeded"
                           th:id="|projectEstimatedSprintsNeeded${projectStat.count}|"
                           th:value="${project.estimated_sprints_needed}" type="number">
                </td>
                <span sec:authorize="hasAnyAuthority('ADMIN','PROJECT_MANAGER')">
        <td>
            <button th:id="${'modifyProjectButton' + projectStat.count}"
                    th:onclick="|modifyProject(${projectStat.count})|" type="button">
                Modify
            </button>
            <button hidden name="action" th:id="${'updateProjectButton' + projectStat.count}" type="submit"
                    value="update">
                Update
            </button>
            <button hidden name="action" th:id="${'deleteProjectButton' + projectStat.count}" type="submit"
                    value="delete">
                Delete
            </button>
            </td>
        </span>
            </form>
        </tr>
    </div>
</table>

<span sec:authorize="hasAnyAuthority('PROJECT_MANAGER', 'ADMIN')">
    <br>
    <div id="createElementButtonSet">
        <span class="textHeader"> Create a Project</span>
        <input id="createElementPlusSymbol" onclick="showCreateProjectTable()" th:src="@{/images/add.png}" type="image">
    </div>
    <table hidden id="createProjectTable">
        <form id="createProjectForm" method="post" th:action="@{/pm/createProject}">
            <tr>
                <td>
                    <label for="title">Title:</label>
                    <input id="title" name="title" placeholder="Name of the project">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description">Description:</label>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea cols="50" form="createProjectForm" id="description" maxlength="200" name="description"
                              placeholder="Short description about the project" rows="4"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="developersWorking"> Developers Working:</label>
                    <input id="developersWorking" name="developersWorking" placeholder="0 to 7 or more" type="number">
                </td>
            </tr>
             <tr>
                <td>
                    <label for="estimatedSprintsNeeded">Estimated Sprints Needed:</label>
                    <input id="estimatedSprintsNeeded" name="estimatedSprintsNeeded" placeholder="0 and above"
                           type="number">
                    <button type="submit">Create Project</button>
                </td>
            </tr>
        </form>
    </table>
</span>
<span th:insert="include/modals :: editProjectModal"></span>

<span th:insert="include/modals :: hintModal"></span>
<span th:insert="include/hints :: hints"></span>
<script th:src="@{/js/general.js}"></script>

<script th:src="@{/js/projectPanel.js}"></script>


<script>
    // self executing function here
    (function () {
        showHints();
    })();
</script>
</body>
</html>