<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Page</title>
</head>
<body>
<button th:onclick="'window.location.href=\'' + @{/} + '\''"
        type="button">Home
</button>

<h3>Active Sprint:</h3>
<span th:insert="include/sprint :: sprintForm"></span>
<h4>Items in Sprint:</h4>
<span th:if="${sprint}" th:style="'border-style: solid;display:block;'">
    <div th:each="itemSprintHistory : ${sprint.associatedItems}">
            <span th:with="item =${itemSprintHistory.item}">
                <span th:if="${item.status == 2 or item.status == 3}">
                    <span th:insert="include/setOfItems :: items"></span>
                </span>
            </span>
    </div>
</span>
<h3>Backlog:</h3>
<div th:each="item : ${backlog}">
    <span th:if="${item.status == 1}">
        <span th:insert="include/setOfItems :: items" th:style="'border-style: solid;display:block;'"></span>
    </span>
</div>
<!--create a new item-->
<span sec:authorize="hasAnyAuthority('PROJECT_MANAGER', 'ADMIN')">
    <h3>Create New Item</h3>
    <span th:insert="include/createItem :: createForm"></span>

    </span>
</body>
</html>