<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project Panel</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/data-tooltip.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/projectPanel.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<span th:insert="include/navigation :: bar"></span>
<br>
<span class="textHeader">Existing Projects</span>
<img class="hintSymbol" hidden onclick="openHintModal('existingProjects')" src="../images/hintSymbol.png"
     style="width: 30px;height: 30px;margin: 0 0 10px 2px;">
<table style="width: 100%">
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
            <img class="hintSymbol" hidden onclick="openHintModal('projectDescription')" src="../images/hintSymbol.png"
                 style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>

        <th>
            Developers Working
            <img class="hintSymbol" hidden onclick="openHintModal('projectDevelopersWorking')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
        <th>
            Team Velocity
            <img class="hintSymbol" hidden onclick="openHintModal('sprint-velocity')"
                 src="../../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
        <th>
            Sprint Duration
            <img class="hintSymbol" hidden onclick="openHintModal('sprint-duration')"
                 src="../../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
        <th>
            Total Effort
            <img class="hintSymbol" hidden onclick="openHintModal('projectTotalEffort')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
        <th>
            Remaining Effort
        </th>
        <th>
            Estimated Total Effort
            <img class="hintSymbol" hidden onclick="openHintModal('projectEstimatedTotalEffort')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
        <th>
            Estimated Sprints Needed
            <img class="hintSymbol" hidden onclick="openHintModal('projectEstimatedSprintsNeeded')"
                 src="../images/hintSymbol.png" style="width: 25px;height: 25px;margin: 0 0 3px 0px;">
        </th>
    </tr>

    <div th:each="project : ${projects}">
        <tr class="projectRow">
            <form>
                <input hidden name="projectId" readonly th:id="|projectId${projectStat.count}|"
                       th:value="${project.id}">
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.title}"></span>
                    <input hidden name="projectTitle" th:id="|projectTitle${projectStat.count}|"
                           th:value="${project.title}">
                </td>
                <td data-tooltip-position="bottom" th:data-tooltip="${project.description}"
                    th:onclick="|window.location='project/${project.id}'|">
                    <span class="spanDescription" th:text="${project.description}"></span>
                    <input hidden name="projectDescription" th:id="|projectDescription${projectStat.count}|"
                           th:value="${project.description}">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.developers_working}"></span>
                    <input hidden name="projectDevelopersWorking"
                           th:id="|projectDevelopersWorking${projectStat.count}|"
                           th:value="${project.developers_working}" type="number">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.team_velocity}"></span>
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:if="${project.sprint_duration != 1}"
                          th:text="${project.sprint_duration + ' weeks'}"></span>
                    <span th:text="${project.sprint_duration + ' week'}"
                          th:unless="${project.sprint_duration != 1}"></span>
                    <input hidden name="projectSprintDuration"
                           th:id="|projectSprintDuration${projectStat.count}|"
                           th:value="${project.sprint_duration}" type="number">
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.total_effort}"></span>
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.remaining_effort}"></span>
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.estimated_total_effort}"></span>
                </td>
                <td th:onclick="|window.location='project/${project.id}'|">
                    <span th:text="${project.estimated_sprints_needed == 0 ? 'Not Known Yet' : project.estimated_sprints_needed}"></span>
                </td>
                <span sec:authorize="hasAnyAuthority('ADMIN','PRODUCT_OWNER')">
        <td>
            <button th:id="${'modifyProjectButton' + projectStat.count}"
                    th:onclick="|modifyProject(${projectStat.count})|" type="button">
                Modify
            </button>
            <button hidden name="action" th:id="${'updateProjectButton' + projectStat.count}" type="submit"
                    value="update">
                Update
            </button>
            <button hidden name="action" th:id="${'deleteProjectButton' + projectStat.count}" type="submit"
                    value="delete">
                Delete
            </button>
            </td>
        </span>
            </form>
        </tr>
    </div>
    <div th:if="${projects.size() == 0}">
        <tr class="projectRow">
            <td colspan="9">
                No projects yet.
            </td>
        </tr>
    </div>
</table>

<span sec:authorize="hasAnyAuthority('PRODUCT_OWNER', 'ADMIN')">
    <br>
    <div id="createElementButtonSet">
        <span class="textHeader"> Create a Project</span>
        <input id="createElementPlusSymbol" onclick="showCreateProjectTable()" th:src="@{/images/add.png}" type="image">
    </div>
    <table hidden id="createProjectTable" th:insert="include/createProject :: createForm">

    </table>
</span>
<span th:insert="include/modals :: editProjectModal"></span>

<span th:insert="include/modals :: hintModal"></span>
<span th:insert="include/hints :: hints"></span>
<script th:src="@{/js/general.js}"></script>

<script th:src="@{/js/projectPanel.js}"></script>


<script>
    // self executing function here
    (function () {
        showHints();
    })();
</script>
</body>
</html>