<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <meta charset="UTF-8">
    <title>Sprint History</title>
    <style>
        #burndown {
            width: 100%;
            min-width: 310px;
            height: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    const categories = [[${burnDownChartData.categories}]];
    const ideal_burn = [[${burnDownChartData.ideal_burn}]];
    const actual_burn = [[${burnDownChartData.actual_burn}]];
    $(function () {
        $('#burndown').highcharts({
            title: {
                text: 'Burndown Chart',
                x: -20 //center
            },
            colors: ['blue', 'red'],
            plotOptions: {
                line: {
                    lineWidth: 3
                },
                tooltip: {
                    hideDelay: 200
                }
            },
            subtitle: {
                text: 'This Sprint',
                x: -20
            },
            xAxis: {
                categories: categories
            },
            yAxis: {
                title: {
                    text: 'Effort'
                },
                plotLines: [{
                    value: 0,
                    width: 1
                }]
            },
            tooltip: {
                valueSuffix: ' effort',
                crosshairs: true,
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: 'Ideal Remaining',
                color: 'rgba(255,0,0,0.25)',
                lineWidth: 1,
                data: ideal_burn
            }, {
                name: 'Actual Remaining',
                color: 'rgba(0,120,200,0.75)',
                marker: {
                    radius: 6
                },
                data: actual_burn
            }]
        });
    });
</script>
<button th:onclick="'window.location.href=\'' + @{/} + '\''"
        type="button">Home
</button>
<button
        th:onclick="'window.location.href=\'' + @{'/user/project/' + ${projectId}} + '\''"
        type="button">Project
</button>
<button
        th:onclick="'window.location.href=\'' + @{'/user/project/' + ${projectId} + '/sprint/' + ${sprintId}} + '\''"
        type="button">Back to Task Board
</button>
<div id="burndown"></div>

<h3>Sprint History of Tasks Done</h3>

<span th:if="${tasksDoneByDateList}">
    <div th:each="tasksDoneByDate : ${tasksDoneByDateList}">
        <div th:text="${tasksDoneByDate.date}"></div>
        <div th:each="item : ${tasksDoneByDate.items}">
            <span th:text="${item.title}"></span>
        </div>
    </div>
</span>
</body>
</html>