<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Board</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', 'select', function () {
            var form = $(this).parent();
            $(form).find('#updateAssignee').click();
        });
    });
</script>
<button th:onclick="'window.location.href=\'' + @{/} + '\''"
        type="button">Home
</button>
<span th:if="${todoAssociations}">
  <span th:each="association: ${todoAssociations}">
      <span th:insert="include/taskBoardItem :: item"></span>
  </span>
</span>
<span th:if="${inProgressAssociations}">
    <span th:each="association: ${inProgressAssociations}">
        <span th:insert="include/taskBoardItem :: item"></span>
    </span>
</span>
<span th:if="${forReviewAssociations}">
    <span th:each="association: ${forReviewAssociations}">
        <span th:insert="include/taskBoardItem :: item"></span>
    </span>
</span>
<span th:if="${doneAssociations}">
    <span th:each="association: ${doneAssociations}">
        <span th:insert="include/taskBoardItem :: item"></span>
    </span>
</span>
</body>
</html>