<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Board</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/taskBoard.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<span th:insert="include/navigation :: bar"></span>
<br>
<span style="float: right">
    <button class="btn btn-primary btn-lg"
            name="action"
            th:onclick="'window.location.href=\'' + @{'/user/project/' + ${project.id} + '/sprint/' + ${sprintId}+ '/history'} + '\''"
            type="button" value="view">View Burndown Chart
    </button>
</span>
<br>
<br>
<h2 align="center">
    Sprint Task Board
    <img class="hintSymbol" hidden onclick="openHintModal('sprintTaskBoard')" src="../../../../images/hintSymbol.png"
         style="width: 35px;height: 35px;margin: 0 0 6px 0px;">
</h2>

<div class="container">
    <div class="column">
        <p class="column-title">
            TO DO
            <img class="hintSymbol" hidden onclick="openHintModal('toDo')" src="../../../../images/hintSymbol.png"
                 style="width: 25px;height: 25px;margin: 0 0 5px 0px;">
        </p>
        <div class="tasks">
            <span th:if="${todoAssociations}">
                <div th:class="${association.item.type == 3} ? 'taskType' : 'bugType'"
                     th:each="association: ${todoAssociations}">
                        <span th:insert="include/taskBoardItem :: item"></span>
                </div>
            </span>
        </div>
    </div>
    <div class="column">
        <p class="column-title">
            IN PROGRESS
            <img class="hintSymbol" hidden onclick="openHintModal('inProgress')" src="../../../../images/hintSymbol.png"
                 style="width: 25px;height: 25px;margin: 0 0 5px 0px;">
        </p>
        <div class="tasks">
            <span th:if="${inProgressAssociations}">
                <div th:class="${association.item.type == 3} ? 'taskType' : 'bugType'"
                     th:each="association: ${inProgressAssociations}">
                    <span th:insert="include/taskBoardItem :: item"></span>
                </div>
            </span>
        </div>
    </div>
    <div class="column">
        <p class="column-title">
            FOR REVIEW
            <img class="hintSymbol" hidden onclick="openHintModal('forReview')" src="../../../../images/hintSymbol.png"
                 style="width: 25px;height: 25px;margin: 0 0 5px 0px;">
        </p>
        <div class="tasks">
            <span th:if="${forReviewAssociations}">
                <div th:class="${association.item.type == 3} ? 'taskType' : 'bugType'"
                     th:each="association: ${forReviewAssociations}">
                    <span th:insert="include/taskBoardItem :: item"></span>
                </div>
            </span>
        </div>
    </div>
    <div class="column">
        <p class="column-title">
            DONE
            <img class="hintSymbol" hidden onclick="openHintModal('done')" src="../../../../images/hintSymbol.png"
                 style="width: 25px;height: 25px;margin: 0 0 5px 0px;">
        </p>
        <div class="tasks">
            <span th:if="${doneAssociations}">
                <div th:class="${association.item.type == 3} ? 'taskType' : 'bugType'"
                     th:each="association: ${doneAssociations}">
                    <span th:insert="include/taskBoardItem :: item"></span>
                </div>
            </span>
        </div>
    </div>
</div>
<span th:insert="include/modals :: viewItemModal"></span>

<span th:insert="include/modals :: hintModal"></span>
<span th:insert="include/hints :: hints"></span>
<script th:src="@{/js/general.js}"></script>

<script th:src="@{/js/taskBoard.js}"></script>
<!--in the event of redirecting to a modal (after modifying item or clicking on a parent let's say-->
<span th:if="${itemId}">
    <script>
            const projectId = [[${projectId}]];
            const itemId = [[${itemId}]];
            const sprintId = [[${sprintId}]];
            redirectToModal(projectId, itemId, sprintId);
    </script>
</span>
<script>
    // self executing function here
    (function () {
        showHints();

    })();
</script>
</body>
</html>