<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Panel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<span th:insert="include/navigation :: bar"></span>
<br>
<h3>Existing Users:</h3>
<div th:each="user : ${users}" th:style="${user.roles.size() > 1 ? 'border-style: dotted' : 'border-style: solid'}">
    <form method="post" th:action="@{/admin/editUser}">
        <label for="userId">ID</label>
        <input id="userId" name="userId" readonly th:value="${user.id}">
        <label for="userEmail">Email</label>
        <input id="userEmail" name="userEmail" th:value="${user.email}" type="email">
        <label for="userPassword">Password</label>
        <input id="userPassword" name="userPassword" type="password">
        <label for="userFirstName">First Name</label>
        <input id="userFirstName" name="userFirstName" th:value="${user.firstName}">
        <label for="userLastName">Last Name</label>
        <input id="userLastName" name="userLastName" th:value="${user.lastName}">
        <!-- conditionals for each role: for example the following says: if the user roles list is bigger than 1
        (which means the user is a master_admin (since a master admin has all roles, then etc.       -->
        <span th:if="${user.roles.size() > 1}">
                <select disabled id="masterAdminFake" name="userRoleFake">-->
                    <option selected value="master_admin">Disabled</option>
                </select>
            <!-- need a second one which is hidden because Back-End does not recognise the disabled one -->
                <select hidden id="masterAdmin" name="userRole">
                    <option selected value="master_admin">Disabled</option>
                </select>
                <span th:if="${session.role == 'Master Admin'}">
                    <button name="action" type="submit" value="update">Update</button>
                </span>
            </span>
        <span th:unless="${user.roles.size() > 1}">
                <span th:if="${user.roles.get(0).role == 'ADMIN'}">
                    <span th:if="${session.role == 'Master Admin'}">
                        <select id="userRole" name="userRole">
                            <span th:each="roleEnum : ${allRoleEnums}">
                            <span th:if="${roleEnum.repositoryId != 1}">
                                <option th:selected="${user.roles[0].role == roleEnum.name ? true : false}"
                                        th:text="${roleEnum.name}"
                                        th:value="${roleEnum.name}">
                                </option>
                            </span>
                            </span>
                        </select>
                        <button name="action" type="submit" value="update">Update</button>
                        <button name="action" type="submit" value="delete">Delete</button>
                    </span>
                    <span th:unless="${session.role == 'Master Admin'}">
                        <select disabled id="masterAdminFake" name="userRoleFake">-->
                            <option selected value="master_admin">Disabled</option>
                        </select>
                        <!-- need a second one which is hidden because Back-End does not recognise the disabled one -->
                        <select hidden id="masterAdmin" name="userRole">
                            <option selected value="master_admin">Disabled</option>
                        </select>
                        <span th:if="${user.id == session.userId}">
                            <button name="action" type="submit" value="update">Update</button>
                        </span>
                    </span>
                </span>
                <span th:if="${user.roles.get(0).role == 'DEVELOPER' or user.roles.get(0).role == 'PRODUCT_OWNER' or user.roles.get(0).role == 'SCRUM_MASTER'}">
                    <select id="userRole" name="userRole">
                        <span th:if="${session.role == 'Master Admin'}">
                            <span th:each="roleEnum : ${allRoleEnums}">
                                <span th:if="${roleEnum.repositoryId != 1}">
                                    <option th:selected="${user.roles[0].role == roleEnum.name ? true : false}"
                                            th:text="${roleEnum.name}"
                                            th:value="${roleEnum.name}">
                                    </option>
                                </span>
                            </span>
                        </span>
                        <span th:unless="${session.role == 'Master Admin'}">
                            <span th:each="roleEnum : ${allRoleEnums}">
                                <span th:if="${roleEnum.repositoryId != 1 and roleEnum.repositoryId != 2}">
                                    <option th:selected="${user.roles[0].role == roleEnum.name ? true : false}"
                                            th:text="${roleEnum.name}"
                                            th:value="${roleEnum.name}">
                                    </option>
                                </span>
                            </span>
                        </span>
                    </select>
                    <button name="action" type="submit" value="update">Update</button>
                    <button name="action" type="submit" value="delete">Delete</button>
                </span>
            </span>
    </form>
</div>
<br>
<h3>Add a new User:</h3>
<form method="post" th:action="@{/admin/createUser}">
    <label for="email">Email</label>
    <input id="email" name="email" th:value="${email}" type="email">
    <label for="password">Password</label>
    <input id="password" name="password" th:value="${password}" type="password">
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName" th:value="${firstName}">
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName" th:value="${lastName}">
    <label for="roles">Role</label>
    <select id="roles" name="role">
            <span th:if="${session.role == 'Master Admin'}">
                <span th:each="roleEnum : ${allRoleEnums}">
                    <span th:if="${roleEnum.repositoryId != 1}">
                        <option th:text="${roleEnum.name}" th:value="${roleEnum.name}"></option>
                    </span>
                </span>
            </span>
        <span th:unless="${session.role == 'Master Admin'}">
                <span th:each="roleEnum : ${allRoleEnums}">
                    <span th:if="${roleEnum.repositoryId != 1 and roleEnum.repositoryId != 2 }">
                        <option th:text="${roleEnum.name}" th:value="${roleEnum.name}"></option>
                    </span>
                </span>
            </span>
    </select>
    <button type="submit">Submit</button>
</form>
</body>
</html>